# Node modules
node_modules
npm-debug.log

# Build output
dist
build

# Environment files
.env
.env.local
.env.*.local

# Coverage directory used by tools like istanbul
coverage

# Logs
logs
*.log

# Temporary files
tmp
temp

# IDE specific files
.idea
.vscode

# Miscellaneous
.DS_Store
Thumbs.db
